@import "../../../../sass/common";
@import "../../../../sass/variables";

#homeContainer {
    margin-bottom: 20px;
    @include width-container();
    @include page-frame();
    margin-top: 130px;
}

@media (min-width: 1500px) {
    #homeContainer {
        @include width-lg-container();
    }
}

.paginate {
    @include makeCenter();
}

.nonProduct,
.nonHistory {
    display: flex;
    justify-content: center;
    align-items: center;
    .product-not-found {
        width: 50%;
        height: 50%;
    }
}

@keyframes event-animation {
    0% {
        transform: rotate(-5deg) scale(1);
    }
    25% {
        transform: rotate(5deg) scale(1.1);
    }
    50% {
        transform: rotate(-5deg) scale(1);
    }
    75% {
        transform: rotate(5deg) scale(1.1);
    }
    100% {
        transform: rotate(-5deg) scale(1);
    }
}

.event {
    position: fixed;
    right: 30px;
    bottom: 40px;
    animation: event-animation 1s infinite linear;
    &:hover {
        cursor: pointer;
    }
}

.carousel-inner {
    .carousel-item {
        .image-banner {
            width: 100%;
            max-height: 541px;
        }
        .title-carousel {
            background: rgba(0, 0, 0, 0.4);
        }
    }
    &:hover {
        cursor: pointer;
    }
}

/* Style the tab */
.tab {
    z-index: 10;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: $base-color-1;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: white;
}

.tab button:hover {
    background-color: $base-color-2;
}

.tab button.active {
    background-color: $base-color-2;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
