$color-border: #eee;
$color-label: #aaa;
$font-default: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
$font-bold: "HelveticaNeue-Medium", "Helvetica Neue Medium";

.discount-code-form {
    width: 50%;
    float: right;
    padding-bottom: 10px;
    .input-code {
        width: 75%;
        margin-right: 5%;
    }
    .apply-code {
        width: 20%;
        height: 46px;
    }
}
// /* Global "table" column settings */
.product-image-cart {
    float: left;
    width: 25%;
}
.product-details-cart {
    float: left;
    width: 37%;
}
.product-price-cart {
    float: left;
    width: 15%;
}
.product-quantity-cart {
    float: left;
    width: 11%;
}
.product-line-price-cart {
    float: left;
    width: 12%;
    text-align: right;
}

// /* This is used as the traditional .clearfix class */
.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1;
}

// /* Apply clearfix in a few places */
.shopping-cart,
.column-labels-cart,
.product-cart,
.totals-item-cart {
    @extend .group;
}

// /* Apply dollar signs */
.product-cart .product-price-cart::after,
.product-cart .product-line-price-cart::after,
.totals-value-cart::after {
    content: "円";
}

// /* Body/Header stuff */
body {
    // padding: 0px 30px 30px 20px;
    font-family: $font-default;
    font-weight: 100;
}

h1 {
    font-weight: 100;
}

label {
    color: $color-label;
}

.shopping-cart {
    margin-top: -45px;
}

// /* Column headers */
.column-labels-cart {
    label {
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid $color-border;
    }

    .product-image-cart,
    .product-details-cart,
    .product-removal-cart {
        text-indent: -9999px;
    }
}

// /* Product entries */
.product-cart {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid $color-border;

    .product-image-cart {
        text-align: center;
        img {
            width: 100px;
        }
    }

    .product-details-cart {
        .product-title-cart {
            margin-right: 20px;
            font-family: $font-bold;
        }
        .product-description-cart {
            margin: 5px 20px 5px 0;
            line-height: 1.4em;
        }
    }

    .product-quantity-cart {
        input {
            width: 100%;
        }
    }

    .remove-product-cart {
        border: 0;
        padding: 4px 8px;
        background-color: #c66;
        color: #fff;
        font-family: $font-bold;
        font-size: 12px;
        border-radius: 3px;
    }

    .remove-product-cart:hover {
        background-color: #a44;
    }

    .address-input-cart {
        float: right;
        width: 50%;
    }
}

/* Totals section */
.totals-cart {
    .discount-item-cart {
        float: right;
        clear: both;
        width: 100%;
        margin-bottom: 5px;
        color: grey;
        font-size: 15px;
        label {
            float: left;
            clear: both;
            width: 79%;
            text-align: right;
            color: grey;
        }

        .discount-value-cart {
            float: right;
            width: 21%;
            text-align: right;
        }
    }
    .totals-item-cart {
        float: right;
        clear: both;
        width: 100%;
        margin-bottom: 10px;
        color: #0abfd2;
        font-weight: bold;
        font-size: 20px;
        label {
            float: left;
            clear: both;
            width: 79%;
            text-align: right;
            color: #0abfd2;
        }

        .totals-value-cart {
            float: right;
            width: 21%;
            text-align: right;
        }
    }

    .totals-item-total-cart {
        font-family: $font-bold;
    }
}

.checkout-cart {
    float: right;
    border: 0;
    margin-top: 20px;
    padding: 6px 25px;
    background-color: #6b6;
    color: #fff;
    font-size: 25px;
    border-radius: 3px;
}

.checkout-cart:hover {
    background-color: #494;
}

// /* Make adjustments for tablet */
@media screen and (max-width: 650px) {
    .shopping-cart {
        margin: 0;
        padding-top: 20px;
        border-top: 1px solid $color-border;
    }

    .column-labels-cart {
        display: none;
    }

    .product-image-cart {
        float: right;
        width: auto;
        img {
            margin: 0 0 10px 10px;
        }
    }

    .product-details-cart {
        float: none;
        margin-bottom: 10px;
        width: auto;
    }

    .product-price-cart {
        clear: both;
        width: 70px;
    }

    .product-quantity-cart {
        width: 100px;
        input {
            margin-left: 20px;
        }
    }

    .product-quantity-cart:before {
        content: "x";
    }

    .product-removal-cart {
        width: auto;
    }

    .product-line-price-cart {
        float: right;
        width: 70px;
    }
}

// /* Make more adjustments for phone */
@media screen and (max-width: 350px) {
    .product-removal-cart {
        float: right;
    }

    .product-line-price-cart {
        float: right;
        clear: left;
        width: auto;
        margin-top: 10px;
    }

    .product-cart .product-line-price-cart::after {
        content: "Item Total: 円";
    }

    .totals-cart {
        .totals-item-cart {
            label {
                width: 60%;
            }

            .totals-value-cart {
                width: 40%;
            }
        }
    }
}
