@import "../../../../sass/common";
@import "../../../../sass/variables";

.event-container {
    margin-bottom: 20px;
    @include width-container();
    @include page-frame();
    margin-top: 80px;

    .top-event {
        @include deleteSpace();
    }
}

@media (min-width: 1500px) {
    .event-container {
        @include width-lg-container();
    }
}

.copy-check-mark {
    position: fixed;
    top: calc(50% - 80px);
    right: calc(50% - 80px);
}

.image-event {
    width: 100%;
}

.item-copoun-container {
    width: 100%;
    height: auto;
    border-width: 2px;
    border-style: solid;
    border-color: #dfe1e3;
    border-radius: 5px;
    position: relative;
    justify-content: left;
    align-items: center;
    display: flex;
}
.item-copoun-image {
    .itemImg {
        padding: 5px;
        width: 100px;
        height: 100px;
    }
}
.item-copoun-content {
    h6 {
        color: red;
    }
    p {
        margin: 0px;
        padding: 0px;
    }
}

.coupon-clipboard {
    position: absolute;
    top: 15px;
    right: 10px;
    i {
        color: grey;
        &:hover {
            cursor: pointer;
            color: $base-color-2;
        }
    }
}
