@import "../../../../sass/common";
@import "../../../../sass/variables";

.product-create-container,
.product-edit-container {
    @include width-container();
    @include page-frame();
    margin-top: 100px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 600;

    .form-container {
        @include deleteSpace();

        width: 70%;
    }
}

@media (min-width: 1500px) {
    .product-create-container {
        @include width-lg-container();
    }
}

.form-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

    .form-group {
        width: 100%;
        margin-top: 20px;

        .required,
        .control-label:after {
            color: #d00;
            content: "*";
            margin-left: 5px;
            top: 2px;
        }
    }
}

.file-input {
    display: flex;
    justify-content: center;
    align-items: center;
    .upload-input {
        display: none;
    }

    .btn-primary {
        width: 100%;
        margin-bottom: 20px;
    }
}

.img-container {
    height: 400px;
    display: flex;
    justify-content: center;

    .itemImg {
        max-width: 100%;
        max-height: 100%;
    }
}
